{% extends 'base.html' %}
{% load static %}
{% block body %}
<!-- Start Banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">About Us</h1>
                <p class="text-white link-nav">
                    <a href="/">Home</a>
                    <span class="lnr lnr-arrow-right"></span>
                    <a href="{% url 'about' %}">About Us</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<!-- Start About Info Area -->
<section class="about-info-area section-gap">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 info-left">
                <img class="img-fluid" src="{% static 'img/about/info-img.jpg' %}" alt="About Us">
            </div>
            <div class="col-lg-6 info-right">
                <h6>About Us</h6>
                <h1>Who We Are?</h1>
                <p>
                    Here, I focus on a range of items and features that we use in life without giving them a second thought. Such as Coca Cola. Dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
            </div>
        </div>
    </div>  
</section>
<!-- End About Info Area -->

<!-- Start Other Issues Area -->
<section class="other-issue-area section-gap">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-70 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Other issues we can help you with</h1>
                    <p>We all live in an age that belongs to the young at heart. Life that is.</p>
                </div>
            </div>
        </div>                  

        <div class="row">
            {% for feature in features %}
            <div class="col-lg-3 col-md-6">
                <div class="single-other-issue">
                    <div class="thumb">
                        <img class="img-fluid" src="{% static 'img/'|add:feature.img %}" alt="{{ feature.title }}">

                    </div>
                    <a href="#"><h4>{{ feature.title }}</h4></a>
                    <p>{{ feature.desc }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>  
</section>
<!-- End Other Issues Area -->

{% endblock %}
